@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.nav {
   width: 100%;
   height: 8vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #3C48D5;
}

.logo {
   position: absolute;
   width: fit-content;
   left: 5em;
}

.main-logo {
   font-family: 'Lobster', cursive;
   color: #fff;
}

.main-nav {
   position: relative;
   left: 25em;
   width: 30vw;
}

.nav-items {
   display: flex;
   align-items: center;
}

.nav-links {
   list-style: none;
}

.nav-links a {
   text-decoration: none;
   margin-right: 1em;
   font-family: 'Roboto', sans-serif;
   color: #fff;
   font-size: 1.2em;
}

.products {
   width: 100%;
   height: 96Vh;
   position: absolute;
   background-color: #ddd;
}

.car-types {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   top: 6em;
}

.car-types img {
   width: 20vw;
   height: 30vh;
   cursor: pointer;
}

.other-cars {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   top: 10em;
}

.other-cars img {
   width: 20vw;
   height: 30vh;
}

.inputs {
   position: relative;
   width: 30vw;
   height: 97vh;
   top: 22em;
   left: 40em;
}

.form-1 {
   width: 30vw;
   display: flex;
   align-items: center;
}

.form-1 label {
   padding-right: 16px;
   padding-left: 5px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

.form-2 {
   position: relative;
   top: 5em;
   left: 5em;
}

.form-2 label {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

.form-3 {
   position: relative;
   top: 8em;
   left: 3em;
   display: flex;
   flex-direction: column;
   width: 18vw;
}

.form-3 label {
   font-family: 'Roboto', sans-serif;
   padding-bottom: 6px;
   position: relative;
   left: 3em;
   font-weight: 500;
}

.prix {
   position: relative;
   top: 2em;
}

.form-3 input {
   width: 9vw;
   position: relative;
   left: 4em;
}

.form-3 button {
   width: 8vw;
   height: 5vh;
   position: relative;
   left: 5em;
   top: 4em;
   background-color: #3C48D5;
   color: #fff;
   border: none;
}

.header-carbu {
   position: relative;
   left: 7em;
   bottom: 3em;
   width: 8vw;
   border-bottom: 2px #3C48D5 solid;
   border-right: 2px #3C48D5 solid;
}

.header-carbu h1 {
   font-family: 'Roboto', sans-serif;
   color: #3C48D5;
}

.header-boit-de-vitesse {
   position: relative;
   top: 2em;
   left: 6em;
   width: 11vw;
   border-bottom: 2px #3C48D5 solid;
   border-right: 2px #3C48D5 solid;
}

.header-boit-de-vitesse h1 {
   font-family: 'Roboto', sans-serif;
   color: #3C48D5;
}

.jours-prix {
   position: relative;
   top: 6.6em;
   left: 6em;
   width: 9.6vw;
   border-bottom: 2px #3C48D5 solid;
   border-right: 2px #3C48D5 solid;
}

.jours-prix h1 {
   font-family: 'Roboto', sans-serif;
   color: #3C48D5;
}

.main-footer {
   width: 100%;
   height: 50vh;
   position: relative;
   top: 80em;
   background-color: #3C48D5;
}

.social-media {
   position: absolute;
   top: 5em;
   left: 6em;
}

.our-socialmedia {
   width: 21vw;
   position: absolute;
   top: 1em;
   font-family: 'Roboto', sans-serif;
   color: #ddd;
   border-bottom: 2px #ddd solid;
   text-align: center;
   padding-bottom: 7px;
}

.media-list {
   position: absolute;
   top: 8em;
   left: 2em;
   display: flex;
}

.icon-img {
   margin-right: 2em;
}

.news-letter {
   position: absolute;
   top: 2em;
   left: 50em;
   width: 30vw;
   height: 16vh;
}

.contact{
   position: absolute;
   top: 0.4em;
   width: 12vw;
   font-family: 'Roboto', sans-serif;
   color: #ddd;
   border-bottom: 2px #ddd solid;
   text-align: center;
}

.input-div {
   display: flex;
   position: absolute;
   top: 3em;
}

.email {
   width: 18vw;
   height: 7vh;
   border: none;
   position: absolute;
   top: 4em;
}

.btn-footer {
   position: absolute;
   top: 4em;
   left: 21.6em;
   width: 8vw;
   height: 7vh;
   border: none;
   background-color: #1f2568;
   color: #FFF;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
}

.boit-vitesse-2 {
   position:relative;
}